<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet.css"/>
</head>
<header>
    <h1>works</h1>
    <a href = "/about">about</a>
    <a href = "/home">home</a>
    <a href = "/photo">photo gallery</a>
</header>
<body>
    <h2>He was the president of the USA</h2>

    <div id = "trumpdiv">
    <img id="presidente" src="/images/presidente.jpeg"/>
</div>
</body>
</html>